In [1]:
import random
import json
import pandas as pd

#### Loading Snaposhot Serengeti data

In [2]:
with open('../data/SnapshotSerengetiSplits_v0.json') as json_file:
    recommend_train_val_splits = json.load(json_file)

In [3]:
serengeti_annotations = pd.read_csv('../data/SnapshotSerengeti_v2_1_annotations.csv')
serengeti_annotations = serengeti_annotations[['capture_id', 'season', 'site', 'question__species']].copy()

/home/fagner/anaconda3/envs/cameratraps-detector/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (8,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
serengeti_images = pd.read_csv('../data/SnapshotSerengeti_v2_1_images.csv')
serengeti_images = serengeti_images.drop('Unnamed: 0', axis=1)

In [5]:
serengeti_images_labeled = pd.merge(serengeti_images, serengeti_annotations, on='capture_id', how='outer')

We will only use seasons 1-6:

In [6]:
serengeti_images_labeled = serengeti_images_labeled[
    serengeti_images_labeled.season.isin(['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])].copy()

#### Remove images with more than one species identified

In [7]:
non_single_spc_instances = serengeti_images_labeled[
    serengeti_images_labeled[['image_path_rel']].duplicated(keep=False)]
non_single_spc_instances = non_single_spc_instances.image_path_rel.unique()

In [8]:
serengeti_images_labeled = serengeti_images_labeled[
    ~serengeti_images_labeled.image_path_rel.isin(non_single_spc_instances)].copy()

#### Mark train/val images:

In [9]:
val_dev = ['D09',
 'J06',
 'C12',
 'B12',
 'F11',
 'C08',
 'E07',
 'O09',
 'Q07',
 'C13',
 'E04',
 'I06',
 'D10',
 'I08',
 'M11',
 'F02',
 'D06',
 'G09',
 'N03',
 'E10',
 'J09',
 'H13',
 'T13']
#val_dev = random.sample(recommend_train_val_splits['splits']['train'], 23)

In [10]:
serengeti_images_labeled_split = serengeti_images_labeled.copy()

In [11]:
def mark_split(row):
    if row['site'] in val_dev:
        return 'val_dev'
    elif row['site'] in recommend_train_val_splits['splits']['train']:
        return 'train'
    else:
        return 'val'

In [12]:
serengeti_images_labeled_split['split'] = serengeti_images_labeled_split.apply(mark_split, axis=1)

In [13]:
pd.crosstab(serengeti_images_labeled_split.question__species, serengeti_images_labeled_split.split)

split                train     val  val_dev
question__species
aardvark               352     162       54
aardwolf               222      75       15
baboon                3734     500      265
batEaredFox            543     168       42
blank              1522420  535832   278594
buffalo              24531    6707     2417
bushbuck               302      37       14
caracal                130      52        1
cheetah               2284     815      303
civet                   57      12        3
dikDik                2962     429      100
eland                 4847    1660      314
elephant             18664    4527     2251
gazelleGrants        13650    5828     1510
gazelleThomsons      63280   37539    13114
genet                   57      19        2
giraffe              14048    5215     2602
guineaFowl           12895    8035      874
hare                   663     234       38
hartebeest           13191   20169     1834
hippopotamus          1301    1581      413
honeyBadger             69      20        7
human                16992    6596     2714
hyenaSpotted          6753    3106      779
hyenaStriped           182     104       17
impala               17667    1451     2780
jackal                 774     354      104
koriBustard           1148     643       98
leopard                288      85       19
lionFemale            6265    2046      527
lionMale              1343     804      118
mongoose               389     226       51
ostrich               1182     598      124
otherBird             8313    2979     1041
porcupine              271     132       41
reedbuck              3050     942      370
reptiles               325       0       78
rhinoceros              40      42        6
rodents                103      46        3
secretaryBird          804     252      189
serval                 622     228      131
topi                  3688    1669      466
vervetMonkey           769      99       33
warthog              13353    6011     1933
waterbuck              710      53       84
wildcat                 81      31       15
wildebeest          161473   57058    28505
zebra               100418   29832    18136
zorilla                 19      14        2